/*entire body of the doc*/
body {
    font-family: Aptos, Arial, Verdana;
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;}


main {
	background-color: black;
	height: 500px;
	width: 100%;}


nav {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;}


nav a {color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    float: none;
	padding: 6px;
    text-decoration: none;
    text-align: center;}


nav a:hover, nav a:active, nav a:focus {
	font-weight: bold;}

.navicon-left {
	display: flex;
	flex-wrap: nowrap;
	width: 35px;
	height: 35px;
	margin-left: 2%;
	margin-right: 5%;}

.navicon-right {
	display: block;
	flex-wrap: nowrap;
	width: auto;
	height: auto;
	max-height: 100%;}

footer {
		justify-content: center;
		background-color: white;
		text-transform: uppercase;
		align-items: center;
		margin: 0 auto;
		color: black;
		text-align: center;}
	
ul {justify-content: center;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;}

ul li {
	align-items: center;
		padding: 10px;}



/*the black strip above the nav*/
.divtop {
	background-color: black;
	height: 15vh;
	display: flex;
	justify-content: center;}

.divtop img {
	max-height: 95%;
	max-width: 95%;}

.top_icon {
	float: right;
	padding-right: 10px;
	align-items: center;}






