
@font-face {
  	font-family: 'QCfont';        
  	src: url('FoughtknightRegular-Xz9d.ttf') format('ttf');
 	font-weight: normal;
  	font-style: normal;}

body {
    font-family: Aptos, Arial, Verdana;
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;}

main {
	height: 25vh;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerlogo {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centerlogo img {
  height: 85%;
  width: auto;
  max-width: 95%;
  display: block;
}


.navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 20px;
  height: 60px;
font-size: clamp(14px, 1.2vw, 18px);
  overflow: hidden;
}

.nav-left,
.nav-right {
  background-color: white;
	max-width: 50%;
	overflow: hidden;
	gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
	min-width: 0;
	flex-shrink: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-left {
	gap: 10px;}

.nav-left li a {
  background-color: white;
  color: black;
  text-decoration: none;
  margin-right: 0;
  line-height: 1;
  white-space: nowrap;
}

.nav-right li {
  margin-left: 15px;
}

.nav-right li a img {
  max-height: 1.5em;
  width: auto;
	flex-shrink: 1;
  display: block;
}

nav a:hover,
nav a:active,
nav a:focus {
	font-weight: bold;}

nav a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px;
	display: inline-flex;          
	justify-content: center;
	align-items: center;}

footer {
  font-family: QCfont, Aptos, Arial, Verdana;
  background-color: white;
  text-transform: uppercase;
  color: black;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  text-align: center;
}

	
ul {
  	justify-content: center;
  	align-items: center;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;}

ul li {
  	align-items: center;}

.divtop {
  background-color: black;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5%;
  box-sizing: border-box;
}

.divtop img {
  max-height: 95%;
  max-width: 95%;
	min-width: 90%;
	min-height: 90%;
  height: auto;
  width: auto;
  display: block;
}






















































