
@font-face {
  	font-family: 'QCfont';        
  	src: url('FoughtknightRegular-Xz9d.ttf') format('ttf');
 	font-weight: normal;
  	font-style: normal;}

body {
    font-family: Aptos, Arial, Verdana;
	background-color: white;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;}

main {
	background-color: black;
	height: 500px;
	width: 100%;}

.navbar {
	display: flex;                
	justify-content: space-between; 
	align-items: center;          
	height: 60px;                
	padding: 0 20px;              
	background-color: white;}

.nav-left,
.nav-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;}

nav a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px;
	display: inline-flex;          
	justify-content: center;
	align-items: center;}

.nav-left li a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  line-height: 1;
}

.nav-right li {
  margin-left: 15px;
}

.nav-right li a img {
  height: 1em;
  width: auto;
  vertical-align: middle;
  display: block;
}

nav a:hover,
nav a:active,
nav a:focus {
	font-weight: bold;}

footer {
  	justify-content: center;
  	background-color: white;
  	text-transform: uppercase;
  	align-items: center;
  	margin: 0 auto;
  	color: black;
  	text-align: center;}
	
ul {
  	justify-content: center;
  	align-items: center;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;}

ul li {
  	align-items: center;
	padding: 10px;}

.divtop {
	background-color: black;
	height: 15vh;
	display: flex;
	justify-content: center;
    	position: fixed;   
    	top: 0;           
    	left: 0;          
    	width: 100%;     
    	z-index: 1000;  }

.divtop img {
	max-height: 95%;
	max-width: 95%;
	padding-top: 1%;
	padding-bottom: 1%;}


















